*{
	text-align: center;
	font-family: verdana;
	text-decoration: none;
}
/*Tarpai */
article{
	display:inline-table;
	width: 200px;
	height: 0px;
	margin: 0px 20px;
}
/*Lygiavimas teksto elementu */
article p,h2{
	text-align: left;
}
/*Linkai */
a:link{
	float: left;
	color: #777;
	text-decoration: none;
}
/*Zymimi pinigai */
strong{
	color: #4287f5;
	font-size: 32px;
}