*{
	text-align: center;
	font-family: verdana;
	text-decoration: none;
}
nav{
	background-color: white;
	margin: 20px auto;
	padding: 1px;
	border: 1px solid #000; /*dotted dashed*/
	width: 49%;
	height: 0px;
}
.fa-angle-double-right{
	color:silver;
}
article{
	display:inline-table;
	width: 200px;
	height: 10px;
	margin: 5px 20px;
}
article p,h2{
	text-align: left;
}
footer{
	margin: 200px;
}
.fa-arrow-circle-up{
	color: red;
}
